*{
	font-family: 'Reem Kufi', sans-serif;
}

span.greli {
	font-size: 100px;
	font-style: normal;
}

strong.greli {
	font-size: 200px;
	color: #000;
	
}

body { 
	background-color: white;
}

ul {
    overflow: auto;
}
 
ul li {
    list-style-type: none;
    float: left;
}

nav{
	 
	 width: 100%;
	 height: 60px;
	 height: 60px;
}

nav ul{
	float: right;
}
ul li a i {
    background: #205D7A;
    color: #fff;
    width: 30px;
    height: 25px;
    border-radius: 40px;
    font-size: 35px;
    text-align: center;
    margin-right: 10px;
    padding-top: 10px;
    transition: all 0.4s ease-in-out;
}
.fa-facebook {
    background:#3b5998;
} 
.fa-instagram {
    background:#ffffff;
    color: #000000;
}
.fa-twitter {
    background:#00aced;
}
.google-plus {
    background:#dd4b39;
}
ul li a i:hover {
    opacity: .7;
}

.greli-emotion{
	height: 425px;
}

.orange{
	color: orange;
}
.greli-emotion::after {
  content: "";
  background: url("../assets/painter-1246619_1920.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-size:cover;
  height: 425px;	
}

.greli-experience{
	
	font-size:  30px;
	text-align: center;
	margin: 10px auto;
    background: white;
    border: 10px;
}

.greli-knowledge{
    border-top-style: solid;
    border-top-color: orange;
	text-align: center;	
	padding-top: 15px;	
	margin-top: 15px;	
	width: 100%;
	font-size: 50px;
	float: left;	  
    background: white;	
}

/* Ipad */ 
@media (max-width:1024px) and (max-height: 768px) {
	.greli-emotion{
		height: 550px;
	}	

	.greli-emotion::after {
	  	height: 550px;	
	}
}

/* Ipad */ 
@media (max-width:769px) {
	.greli-emotion{
		height: 550px;
	}	

	.greli-emotion::after {
	  height: 550px;	
	}
}



/* Small Devices */ 
@media (max-width:700px) {
	span.greli {
		font-size: 50px;
	}

	strong.greli {
		font-size: 80px;
	}	

	nav ul{
		float: left;
	}

	.greli-emotion{
		text-align: left;
	}

	.greli-emotion::after {
	  height: 350px;	
	}	

	.greli-emotion{
		height: 350px;
		text-align: left;
	}	

	.greli-knowledge{
		font-size: 50px;
	}	
}


